.component_map-base{
    height: 70vh;
    /*width: 100vw;*/

    display: flex;

    position: relative;

    background-color: #ffffffaa;

    transition: 1.25s;

    overflow-x: hidden;
}

/*
.component_map-base:hover{
    background-color: #ffffff55;
}
*/