.component_map-context{

    position: absolute;

    top: 0;
    left:0;
    bottom: 0;
    right: 0;

    max-width: 45vw;
    height: max-content;

    padding: 10px;

    margin: auto;

    text-align: center;

    z-index: 10;
    
}

.component_map-context h1{
    color: #3b6afe;
    font-weight: 600;
}

.component_map-context p{
    font-weight: 600;
}

.component_map-contextlogo{
    height: 100px;
}

.component_map-context-buttonbelt{

}